/*generals*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
  font-family: "Open Sans", sans-serif;
}

:root {
    --color-light-blue: #b4d0e7;
    --color-dark: #000000;
    --color-blue: #0061ff;
    --color-grey: #9d9c9c;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
    --color-border-logo: #d1e9cd;
  }

  .d-flex{
    display: flex;
  }

  .justify-content{
    justify-content: space-between;
  }

  /*containers*/

  .container{
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .container-small{
    max-width: 1000px;
    margin: 0 auto;
  }

  .container-cards{
    gap: 10px;
    width: calc((100% - 20) / 3 );
    padding-top: 50px;
  }

  .container-cards > div{
    border: 1px solid var(--color-dark);
    width: 100%;
  }

  .container-text-small{
    flex-direction: column;
  }

  header{
    background-color: var(--color-white);
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    flex-wrap: wrap;
    box-shadow: 0 1px;
  }

  ul{
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
  }

  header > nav{
    width: 100%;
  }

  header a{
    padding: 20px;
    display: block;
    text-decoration: none;
    color: var(--color-dark);
  }

  header a:hover{
    text-decoration: underline;
  }

  /*buttons*/

  .btn-blue{
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 6px 20px;
    margin: 10px;
  }

  .btn-blue:hover{
    cursor: pointer;
  }

  .btn-blue-big{
    margin:20px;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px;
}

.btn-blue-big:hover{
    cursor: pointer;
}

.btn-blue-big-enterprise{
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 10px;
  margin: 50px;
}

.btn-blue-big-enterprise:hover{
  cursor: pointer;
}

.btn-partner{
  margin: 0 80px 80px;
  padding: 10px;
}

.btn-partner:hover{
  cursor: pointer;
}

#cta button{
  margin: 50px;
  padding: 10px 20px;
}

#cta button:hover{
  cursor: pointer;
}

/*jumbotron*/
.jumbo{
    padding-top: 80px;
    background-color: var(--color-light-blue);
}

h1{
    font-size: 4em;
    text-align: center;
    padding: 20px;
}

.fa-arrow-down{
    font-size: 40px;
    padding: 40px;
}

.fa-arrow-down:hover{
    cursor: pointer;
}

.jumbo-text{
    width: 30%;
    flex-direction: column; 
    padding-top: 70px;
}

.jumbo-img{
    width: 70%;
    position: relative;
    top: 70px;
}

.jumbo-img img{
    width: 100%;
}

/*plans*/
#plans{
    margin-top: 70px;
}

.input-2{
    padding-left: 30px;
}

.border{
  text-align: center;
  border: 1px solid var(--color-grey);
}

.mini-border{
  border: 1px solid var(--color-grey);
}

.professional{
  padding: 20px;
}

.professional p{
  text-align: left;
  padding-left: 15px;
}

.text-grey{
  color: var(--color-grey);
}

li{
  text-align: left;
  padding: 5px;
}

.border-bottom{
  border-bottom: 1px solid
  var(--color-grey);
  padding-bottom: 20px;
}

h4{
  padding-top: 60px;
}

.fa-check{
  color: var(--color-blue);
}

/*enterprise*/
.icons{
  text-align: center;
  padding-top: 50px;
}

.enterprise h3, 
.enterprise p{
  padding: 10px;
}

/*partner*/
.img-partner{
  width: 70%;
  display: block;
}

.partner{
  width: 100%;
  padding: 50px;
}

.partener-text{
  width: 30%;
  flex-direction: column;
  justify-content: center
}

.partener-text h2, p{
  padding: 20px;
}

/*business*/
.business{
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}

.row{
  gap: 5px;
  flex-wrap: wrap;
}

.column{
  width: calc((100% - 10px) / 3);
  padding: 50px;
}

.column img{
  width: 100%;
  display: block;
}

/*brand*/
.team{
  padding: 50px 0;
}

.customer-brands > div{
  width: calc(100% / 3);
  flex-wrap: wrap;
}

.customer-brands-small{
  height: calc(100vw/3);
}

.brand{
  height: 50%;
  width: 50%;
}

.brand-central img{
  width: 50%;
  padding: 20px;
}

.brand-central{
  overflow-y: auto;
}

.img-1{
  background-color: var(--color-logo-green);
}

.img-1:hover{
  cursor: pointer;
  border: 10px solid var(--color-border-logo);
}

.img-2{
  background-color: var(--color-logo-second);
}

.img-3{
  background-color: var(--color-logo-third);
}

.img-4{
  background-color: var(--color-logo-red);
}

.img-5{
  background-color: var(--color-logo-light-red);
}

.img-6{
  background-color: var(--color-light-blue);
}

.img-7{
  background-color: var(--color-logo-blue);
}

.img-8{
  background-color: var(--color-logo-yellow);
}

.brand img{
  width: 100%;
  justify-content: center;
  align-items: center;
  filter: invert(100%);
}

/*cta*/
#cta{
  background-color: var(--color-light-blue);
  padding: 50px;
}

#cta h2{
  color: var(--color-contrast);
  padding: 50px;
}

/*faq*/
#faq{
  padding: 50px;
}

#faq h2{
  padding: 50px;
}

.domande{
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
  padding: 50px;
}

.domande-hover{
  display: none;
}

.fa-caret-down{
  padding: 20px;
}

.fa-caret-down:hover{
  cursor: pointer;
}

.fa-caret-down:hover .domande-hover{
  display: block;
}

/*footer*/
footer{
    background-color: var(--color-dark);
    color: var(--color-white);
  }

  footer ul span{
    padding: 10px;
  }

  footer ul li{
    padding: 10px;
  }

  footer ul a{
    color: var(--color-white);
    text-decoration: none;
  }

  footer ul a:hover{
    text-decoration: underline;
  }

  .footer-top{
    padding-top: 50px;
  }

  .footer-bottom{
    padding-top: 50px;
  }