/*generals*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
  font-family: "Open Sans", sans-serif;
}

:root {
    --color-light-blue: #b4d0e7;
    --color-dark: #000000;
    --color-blue: #0061ff;
    --color-grey: #9d9c9c;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
  }

  .debug{
    border: 1px solid red;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .container-small{
    max-width: 1000px;
    margin: 0 auto;
  }

  header{
    background-color: var(--color-white);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    flex-wrap: wrap;
  }

  ul{
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
  }

  .d-flex{
    display: flex;
  }

  .justify-content{
    justify-content: space-between;
  }

  header > nav{
    width: 100%;
  }

  header a{
    padding-left: 20px;
    text-decoration: none;
    color: var(--color-dark);
  }

  .btn-blue{
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 6px 20px;
    margin-left: 10px;
  }

  .btn-blue:hover{
    cursor: pointer;
  }

.jumbo{
    padding-top: 80px;
    background-color: var(--color-light-blue);
}

h1{
    font-size: 4em;
    text-align: center;
    padding: 20px;
}

.btn-blue-big{
    margin:20px;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px;
}

.btn-blue-big:hover{
    cursor: pointer;
}

.fa-arrow-down{
    font-size: 40px;
    padding: 40px;
}

.fa-arrow-down:hover{
    cursor: pointer;
}

.jumbo-text{
    width: 30%;
    flex-direction: column; 
    padding-top: 70px;
}

.jumbo-img{
    width: 70%;
    position: relative;
    top: 70px;
}

.jumbo-img img{
    width: 100%;
}

#plans{
    margin-top: 70px;
}

.input-2{
    padding-left: 30px;
}

.container-cards{
    gap: 10px;
    width: calc((100% - 20) / 3 );
}

.container-cards > div{
    border: 1px solid var(--color-dark);
    width: 100%;
}


.btn-blue-big-enterprise{
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 10px;
  margin: 50px;
}

.border{
  text-align: center;
  border: 1px solid var(--color-grey);
}

.mini-border{
  border: 1px solid var(--color-grey);
}

.professional{
  padding: 20px;
}

.professional p{
  text-align: left;
  padding-left: 15px;
}

.text-grey{
  color: var(--color-grey);
}

li{
  text-align: left;
  padding: 5px;
}

.border-bottom{
  border-bottom: 1px solid
  var(--color-grey);
  padding-bottom: 20px;
}

h4{
  padding-top: 60px;
}

.fa-check{
  color: var(--color-blue);
}

.icons{
  text-align: center;
}

.enterprise h3, 
.enterprise p{
  padding: 10px;
}

.btn-blue-big-enterprise:hover{
  cursor: pointer;
}

.img-partner{
  width: 70%;
  display: block;
}

.partner{
  width: 100%;
}

.partener-text{
  width: 30%;
  flex-direction: column;
  justify-content: center
}

.partener-text h2, p{
  padding: 20px;
}

.btn-partner{
  margin: 0 80px 80px;
  padding: 10px;
}

.btn-partner:hover{
  cursor: pointer;
}

.business{
  font-size: 30px;
  text-align: center;
}

.row{
  gap: 5px;
  flex-wrap: wrap;
}

.column{
  width: calc((100% - 10px) / 3);
  position: relative;
}

.column img{
  width: 100%;
  display: block;
}

.container-text-small{
  flex-direction: column;
}

footer{
    background-color: var(--color-dark);
    color: var(--color-white);
  }